<div class="container ps-10">
  <div class="py-6">
    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center">
      New Customer
    </h1>
  </div>

  <div>
    <div class="card" style="width:50rem;">
      <div class="card-body">
        <div id="kt_create_account_stepper" class="stepper stepper-links d-flex flex-column">
          <form novalidate="" id="kt_create_account_form" class="mx-auto mw-600px w-100 ">
            <div class="pb-6 pb-lg-8">
              <h2 class="fw-bolder text-dark">General</h2>
            </div>
            <div class="current">
              <div class="ng-untouched ng-pristine ng-valid">
                <div class="fv-row mb-8">
                  <label class="form-label required">Name</label>
                  <input placeholder="Name" name="businessName" formcontrolname="businessName"
                    class="form-control form-control-lg form-control-solid ng-dirty ng-invalid ng-touched" />
                  <!---->
                </div>
                <div class="row mb-8">
                  <div class="col-6">
                    <label class="form-label required">Email</label><input name="businessName" placeholder="Email"
                      formcontrolname="businessName"
                      class="form-control form-control-lg form-control-solid ng-untouched ng-pristine ng-valid" />
                  </div>
                  <div class="col-6">
                    <label class="form-label required">Phone</label><input name="businessName" placeholder="Phone"
                      formcontrolname="businessName"
                      class="form-control form-control-lg form-control-solid ng-untouched ng-pristine ng-valid" />
                  </div>


                  <!---->
                </div>
                <div class="row mb-10">
                  <div class="col-6">
                    <label class="form-label required">Website</label><input name="businessName" placeholder="Website"
                      formcontrolname="businessName"
                      class="form-control form-control-lg form-control-solid ng-untouched ng-pristine ng-valid" />
                  </div>
                  <div class="col-6">
                    <label class="form-label required">Reference</label><input name="businessName"
                      placeholder="Reference" formcontrolname="businessName"
                      class="form-control form-control-lg form-control-solid ng-untouched ng-pristine ng-valid" />
                  </div>
                </div>

                <div class="pb-6 pb-lg-8">
                  <h2 class="fw-bolder text-dark">Billing</h2>
                </div>
                <div class="row mb-10">
                  <div class="col-6">
                    <label class="form-label required">Tax Number</label><input name="businessName"
                      placeholder="GST Number" formcontrolname="businessName"
                      class="form-control form-control-lg form-control-solid ng-untouched ng-pristine ng-valid" />
                  </div>
                  <div class="col-6">
                    <label class="form-label required">Currency</label><input name="businessName" placeholder="Currency"
                      formcontrolname="businessName"
                      class="form-control form-control-lg form-control-solid ng-untouched ng-pristine ng-valid" />
                  </div>
                </div>

                <div class="pb-6 pb-lg-8">
                  <h2 class="fw-bolder text-dark">Address</h2>
                </div>
              </div>
            </div>

            <div class="card border border-1">
              <div class="card-header d-flex align-items-center">
                <h3>Address</h3>
                <span role="button" class="d-block me-3 text-decoration-underline text-danger fs-4 fw-semibold"
                  id="point">Remove</span>
              </div>
              <div class="card-body">
                <div class="fv-row mb-5">
                  <label class="form-label required">Address</label>
                  <textarea placeholder="Address" name="businessName" formcontrolname="businessName"
                    class="form-control form-control-lg form-control-solid ng-dirty ng-invalid ng-touched"
                    rows="2"></textarea>
                  <!---->
                </div>
                <div class="row mb-5">
                  <div class="col-6">
                    <label class="form-label required">City</label><input name="businessName" placeholder="City"
                      formcontrolname="businessName"
                      class="form-control form-control-lg form-control-solid ng-untouched ng-pristine ng-valid" />
                  </div>
                  <div class="col-6">
                    <label class="form-label required">Pin Code</label><input name="businessName" placeholder="Pin Code"
                      formcontrolname="businessName"
                      class="form-control form-control-lg form-control-solid ng-untouched ng-pristine ng-valid" />
                  </div>


                  <!---->
                </div>
                <div class="row mb-5">
                  <div class="col-6">
                    <label class="form-label required">State</label><input name="businessName" placeholder="State"
                      formcontrolname="businessName"
                      class="form-control form-control-lg form-control-solid ng-untouched ng-pristine ng-valid" />
                  </div>
                  <div class="col-6">
                    <label class="form-label required">Country</label>
                    <input name="businessName" placeholder="Country" formcontrolname="businessName"
                      class="form-control form-control-lg form-control-solid ng-untouched ng-pristine ng-valid" />
                  </div>


                  <!---->
                </div>
              </div>
            </div>
            <div class="mr-2">
              <button type="button" class="btn btn-sm btn-outline-primary">Add</button>

              <!---->
              <!---->
            </div>
            <div class="separator my-5 border-secondary"></div>

            <div class="d-flex flex-stack pt-15">
              <div class="mr-2">
                <button type="button" class="btn btn-lg btn-light-primary me-3">
                  <span class="svg-icon svg-icon-4 me-1">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect opacity="0.5" x="6" y="11" width="13" height="2" rx="1" fill="currentColor"></rect>
                      <path
                        d="M8.56569 11.4343L12.75 7.25C13.1642 6.83579 13.1642 6.16421 12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75L5.70711 11.2929C5.31658 11.6834 5.31658 12.3166 5.70711 12.7071L11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25C13.1642 17.8358 13.1642 17.1642 12.75 16.75L8.56569 12.5657C8.25327 12.2533 8.25327 11.7467 8.56569 11.4343Z"
                        fill="currentColor"></path>
                    </svg></span>
                  <!---->
                  Back
                </button>
                <!---->
                <!---->
              </div>
              <div>
                <button type="button" class="btn btn-lg btn-primary me-3">
                  <span class="indicator-label">
                    Continue
                    <span class="svg-icon svg-icon-3 ms-2 me-0"><svg width="24" height="24" viewBox="0 0 24 24"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)"
                          fill="currentColor"></rect>
                        <path
                          d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                          fill="currentColor"></path>
                      </svg></span>
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                  </span>
                </button>
              </div>
              <!---->
              <!---->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>